<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jumbotron.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/autoTaller.css') }}" />
    {% endblock %}

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/autotallerrc/js/bootstrap-datepicker.js') }}"></script>

    {% javascripts '@AutoTallerRCBundle/Resources/public/js/bootstrap-datepicker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#AutoTallerRcFIN#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->
</head>

<body>

<div id="header"><!-- Contenedor cabecera imagen principal-->
    <div id="content">

        <div id="minilogo"> <!--caja para el minilogo-->
            <img src="{{ asset('images/taller/logo.png') }}" alt="AUTOTALLER RC" border="0" />
        </div>
    </div>


{% block body %}

{% endblock %}


</div>

 <div id="footer"> <!--Contenedor  que contiene el pie de página-->
    <div id="altnav">
        <a href="{{ path('auto_taller_rc_homepage') }}">Inicio</a> -
        <a href="{{ path('auto_taller_rc_servicios') }}">Servicios</a> -
        <a href="{{ path('auto_taller_rc_promociones') }}">Promociones</a> -
        <a href="{{ path('auto_taller_rc_contacto') }}">Contacto</a> -
        <a href="{{ path('auto_taller_rc_reservaOnline') }}">Reserva Online</a>
    </div>

</div>




</body>
</html>